*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #369;
}

h1, h2, h3, h4, h5, h6 {
    color: #339;
}

p, label {
    color: #369;;
}


input[type="text"], 
input[type="number"],
input[type="date"],
input[type="file"]{
    width: 400px;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

textarea{
    padding: 10px 5px;
    width: 400px;
}
.header{
    height: 160px;
    padding: 20px;
    background-color: #639;
}

.header h3{
    color: #fdfdfd;
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.form-container{
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

.form-header{
    border-bottom: 1px solid #ccc;
    height: 45px;
}
.form-header p{
    color: #339;
    border-bottom: 2px solid rebeccapurple;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

.form-body{
    padding: 30px;
}

.form-title{
    margin-bottom: 15px;
}

.form-body p{
    margin-bottom: 20px;
}

.required-field{
    color: red;
}

.box-input{
    margin-bottom: 35px;
}

.block{
    display: block;
}

.optional-box{
    display: inline-block;
    margin: 0 30px;
}

.optional-list li{
    list-style: none;
    margin-bottom: 5px;
}

.box-input p{
    margin-bottom: 15px;
}

.btn-submit{
    background-color: rebeccapurple;
    color: white;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover{
    background-color: whitesmoke;
    border-color: rebeccapurple;
    color: rebeccapurple;
}